$main-back: #f5c823;

$text-color: #272727;

.brainstorm {
    height: calc(100vh - 145px);
    justify-content: space-around;
    
    .value-display {
        justify-content: space-between;
        position: relative;

        p, span {
            font-size: 2em;
            font-weight: 600;
        }

        .timer-wrapper {
            position: absolute;
            width: 145px;
            height: 50px;

            .timer {
                display: block;
                position: absolute;
                left: calc(100% - 145px);
                top: -7px;
                // width: 145px;
                height: 50px;
                background: #fff;
                z-index: -1;
            }
        }
    }

    .list-of-ideas {
        justify-content: space-between;
        position: relative;
        left: 15%;
        width: 70%;

        input {
            width: 100%;
            padding-bottom: 5px;
            background: none;
            outline: none;
            border: none;
            border-bottom: 3px solid #fff;
            font-size: 1.5em;
            font-weight: 600;
        }

        button {
            width: 110px;
            margin-left: 25px;
            padding: 10px;
            border: none;
            border-radius: 2px;
            color: #fff;
            background: $text-color; 
            cursor: pointer;
            font-size: 1.5em;
            transition: all 0.25s ease-in-out;

            i {
                transition: all 0.25s ease-in-out;
            }
        }

        button:hover {
            background: #3c3c3c;
            color: $main-back;

            i {
                color: $main-back;
            }
        }
    }

    div {
        justify-content: flex-end;

        .next-step-btn {
            padding: 10px;
            background: $text-color;
            color: #fff;
            border-radius: 2px;
            text-align: right;
            font-size: 1.5em;
            transition: all 0.25s ease-in-out;

            i {
                position: relative;
                top: 2px;
                transition: all 0.25s ease-in-out;
            }
        }

        .next-step-btn:hover {
            background: #3c3c3c;
            color: $main-back;

            i {
                color: $main-back;
            }
        }
    }
}