<header>
	<div class="deco-line"></div>
	<div class="indicator flex-w">
		<div>
			<a tabindex="-1" href=""></a>
			<span>intro</span>
		</div>

		<div>
			<a tabindex="-1" href=""></a>
			<span>challenge</span>
		</div>

		<div>
			<a tabindex="-1" href=""></a>
			<span>brainstorm</span>
		</div>

		<div>
			<a tabindex="-1" href=""></a>
			<span>results</span>
		</div>

		<div>
			<a tabindex="-1" href=""></a>
			<span>sorting</span>
		</div>

		<div>
			<a tabindex="-1" href=""></a>
			<span>cost / impact</span>
		</div>

		<div>
			<a tabindex="-1" href=""></a>
			<span>matrix</span>
		</div>
	</div>
</header>
